/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/****************************************************************************************************/
/*** BEGIN CSS RESET ***/
/****************************************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************************************************************************************/
/*** END CSS RESET ***/
/****************************************************************************************************/

:root {
  --background-bg: #7bd3f7;
  --badge-background: white;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Lobster|Lato');

/****************************************************************************************************/
/*** BEGIN BODY APP ***/
/****************************************************************************************************/
body {
  background: var(--background-bg);
}

/* .App {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.app-container {
  width: 90%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/****************************************************************************************************/
/*** END BODY APP ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN NAVIGATION ***/
/****************************************************************************************************/

.nav-container {
  width: 90%;
  padding: 20px 0px;
  text-decoration: none;
  background: var(--background-blue);
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.navigation {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: white;
  background: var(--background-blue);
}

/****************************************************************************************************/
/*** END NAVIGATION ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN LOGIN ***/
/****************************************************************************************************/

.login-container form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  align-items: center;
}

.login-container form input {
  width: 30%;
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.login-container form button {
  padding: 10px;
  width: 10%;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

/****************************************************************************************************/
/*** END LOGIN ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN WELCOME ***/
/****************************************************************************************************/

.welcome-banner {
  width: 100%;
  background: var(--background-blue);
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-family: 'Lobster', sans-serif;
}

.welcome-banner h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.welcome-banner h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

.welcome-body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.welcome-header {
  margin: 10px 0px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Montserrat';
}

.welcome-header h3 {
  font-weight: bold;
  margin: 10px 0px;
}

.welcome-header h4 {
  font-size: 1rem;
}

.welcome-content p {
  font-size: 1rem;
  margin: 10px 0px;
}

.welcome-left {
  width: 60%;
  background: white;
  border-radius: 20px;
  padding: 40px;
}

.welcome-right {
  width: 25%;
  border-radius: 20px;
  padding: 20px;
  background: #73b3ff;
}

.welcome-right span {
  color: white;
  cursor: pointer;
}

/****************************************************************************************************/
/*** END WELCOME ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN REGISTER ***/
/****************************************************************************************************/

.register-container {
  font-family: 'Lato';
  padding: 20px 0px;
}

.register-container h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: bold;
  color: white;
}

.register-container form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

.register-container form input {
  width: 80%;
  margin: 10px 0px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.register-container form button {
  padding: 10px;
  width: 50%;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Montserrat';
  background: #8bdfe7;
  color: white;
}

.form-toggle {
  text-align: center;
}

/****************************************************************************************************/
/*** END REGISTER ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN FOOTER ***/
/****************************************************************************************************/
.footer-content {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightcyan;
}
.address {
  border: 1px solid black;
}

/****************************************************************************************************/
/*** END FOOTER ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN TOOLBAR ***/
/****************************************************************************************************/

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  background: #8e7bf7;
  padding: 20px 0px;
}

.toolbar-link {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 0px 10px;
  font-family: 'Montserrat';
}

.avatar-container {
  text-align: center;
  font-family: 'Montserrat';
}

.avatar-container p {
  color: white;
  padding-top: 5px;
}

.avatar {
  border: 2px solid black;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0px 20px;
  background-size: contain;
}

/****************************************************************************************************/
/*** END TOOLBAR ***/
/****************************************************************************************************/

/****************************************************************************************************/
/*** BEGIN DASHBOARD ***/
/****************************************************************************************************/
.beacon-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* height: 25vh; */
}

.dashboard-banner h1 {
  font-family: 'Lobster';
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
  text-shadow: 2px 2px black;
}

.ask-beacons {
  text-align: center;
  width: 50%;
  background: #f7c17b;
  border-left: 1px solid white;
  border-right: 1px solid black;
  min-height: 30vh;
  padding: 20px;
}

.ask-beacons h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: bold;
}

.active-meetings {
  width: 100%;
  min-height: 20vh;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  background: #f77ba6;
  padding: 20px;
}


.active-meetings h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}


.offer-beacons {

  text-align: center;
  border-right: 0.5px solid white;
  border-left: 0.5px solid black;
  width: 50%;
  background: #7bf79e;
  min-height: 30vh;
  padding: 20px;
}

.offer-beacons h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}



.badges-container {
  text-align: center;
  width: 100%;
  background: #8e7bf7;
  border: 1px solid white;
  min-height: 30vh;
  border-top: none;
  font-family: 'Montserrat';
}

.badges-header {
  padding: 20px;
  border-radius: 10px;
  font-size: 2.8rem;
  width: 70%;
  margin: 0 auto;
  font-weight: 150;
  font-family: 'Montserrat';
  color: white;
}
.badges-text {
  /* border: 2px solid black; */
  font-size: 1.5rem;
  padding: 10px 0px;
  border-radius: 10px;
}

.badge-container {
  display: flex;
  background: var(--badge-background);
  border: 2px solid rgb(42, 42, 102);
  border-radius: 10px;
  background: #fffb96;
  margin: 10px 10px;
}

.badge-description {
  font-size: 1.3rem;
  align-self: center;
  width: 75%;
  margin-left: 20px;
}
.badge {
  width: 100px;
  height: 100px;
}

/****************************************************************************************************/
/*** END DASHBOARD ***/
/****************************************************************************************************/
.robot {
  width: 100%;
}

.slack-login {
  width: 100%;
  display: block;
}

.slack-button {
  top: 50%;
  display: flex;
  margin: auto;
}

.welcome-right {
  min-width: 170px;
}

.slackbot {
  width: 100%;
}

.message-wrapper {
  width: 100%;
}

.slackMessage {
  margin: auto;
}
.title {
  font-size: 4rem;
  line-height: 1.5;
}
